.wrapper {
  width: 280px;
  height: auto;
  background: var(--dark-blue);
  border-radius: 10px;
  cursor: pointer;
}

.img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.details {
  width: 100%;
  height: auto;
  padding: 25px 20px;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.pop,
.region,
.capital {
  font-size: 17px;
  color: var(--dark-gray);
  font-weight: 600;
}
