@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-one: hsl(207, 26%, 17%);
  --very-dark-blue-two: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

#__next {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--very-dark-blue-one);
}

.card-div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 20px;
}

span {
  color: white;
}

#hide {
  display: none;
}
